# Auto detect text files and perform LF normalization
* text=auto
*.obj filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.3mf filter=lfs diff=lfs merge=lfs -text
*.epro filter=lfs diff=lfs merge=lfs -text
